p{
    background-color: blueviolet;
    color:green;
}
#main-content{
    background-color: magenta;
}
.section-text{
    font-size: larger;
    color: olive;
    text-align: center;
}

*{
    font-family: 'Arial', sans-serif; /* Font type */
    font-size: 18px; /* Font size */
    font-weight: bold; /* Font weight */
}